<div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: #85c0eb;">
      <h5 class="card-title text-white">{{ name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-graduate"></i> {{ role }}</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{ id }}</li>
        <li class="list-group-item">Email: <a href="yahoo:{{ email }}"> {{ email }}</a> </li>
        <li class="list-group-item">School: {{ school }}</li>
      </ul>
    </div>
  </div>