<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap" rel="stylesheet">
    <title>My team</title>
    <style type="text/css">
        body{
        background-image: url("https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
        background-size: cover;
        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #85c0eb;">
        <div class="container-fluid">
          <h1 class="display-4 text-white">View The Team</h1>
          <p class="lead text-white">Team Information</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center">
                {{ team }}
            </div>
        </div>
    </div>

</body>
</html>